@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Qwitcher+Grypen:wght@400;700&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorLila: #dc73fc;  
    --colorVerde: rgb(60,125,149);  
    --colorAmarillo:  #F4CC07;
    --shadow1: 0px 0px 1px 0px rgb(0, 0, 0); 
    --colorfondo:  rgb(247 247 219);
    
}

header {
   background-color: azure;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header a {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

header a:hover {
    background-color: #cdcdcd;
}

h2{ 
    
    font-size: 50px;
    color: darkgreen;
    text-align: center;
    padding: 50px;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;


}
.mainhistoria{
    background-color: #eac8f9;
     height: 100%;
     padding-bottom: 100px;

}
.leyenda{
    font-size: 25px;
    color: rgb(118, 125, 120);

    }
.Quinquela{
    display: flex;
    justify-content: center;
}
.colordellogo{
    display: flex;
    justify-content: space-around;
   height: 500px;
}


footer {
  background-color: azure;
   height: 50px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}