:root{
    --colorLila: #dc73fc;  
    --colorVerde: rgb(60,125,149);  
    --colorAmarillo:  #F4CC07;
    --shadow1: 6px 6px 6px 4px rgb(0, 0, 0); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.botonescontenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-content: center;
    height: 100vh;
 
}

.botontalleres{
    /* width: 20%; */
    padding: 10px 20px;
    background-color: #6b5b95;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: var(--shadow1);
    transition: background-color 0.3s;
    text-decoration: underline;
    line-height: 18px;
}

.main-musica{
    height: 100%;
    background-color: var(--colorLila);
}


body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #FFD700;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header a {
    background-color: #4682B4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}

header a:hover {
    background-color: #4169E1;
}




footer {
    background-color: #FFD700;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #4682B4;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 700px) {

header {
    gap: 10px;
}

header a {
    font-size: 12px;

}
}